body {
  background-color: green;
}

.name {
  &__hi {
    color: red;
  }
}

.react-link {
  color: white;
}

.component-header {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 28px;
}

.component-container {
  padding: 16px 32px;
  background-color: white;
  height: 100%;
}

.c-body {
  background-color: white;
  padding: 16px 0px;
}

.form-field {
  padding: 10px 0px;
}

.form-field-button {
  margin: 10px 0px;
}

.form-field-select {
  padding: 10px 0px;
  width: 100%;
}
